{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    {% bootstrap_css %}
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"#}
    {#          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="../static/MSc_Research_Django/css/style.css">
</head>
<body>
{#<nav class="navbar navbar-default navbar-static-top">#}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">ChainFaaS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <div class="container">
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li> -->

                {% if user.is_authenticated %}
                    {% if user.provider.active %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'providers_app:index' %}">Provider</a>
                    </li>
                    {% endif %}

                    {% if user.developer.active %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Developer
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'developers_app:new_service' %}">New Function</a>
                            <a class="dropdown-item" href="{% url 'developers_app:user_services' %}">Your Functions</a>
                            <a class="dropdown-item" href="{% url 'developers_app:user_jobs' %}">Your Jobs</a>
                        </div>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profiles:user_logout' %}">Logout</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profiles:register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profiles:user_login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>
<div class="container background-container">
    {#    {% bootstrap_messages %}#}
    {% if messages %}
        <div class="container">
            {% for message in messages %}

                <div class="{{ message|bootstrap_message_classes }} alert-dismissable direction-rtl align-right">
                    {{ message }}
                    <button type="button" class="close message-button pull-right" data-dismiss="alert"
                            aria-hidden="true">&#215;
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% block body_block %}
    {% endblock %}
</div>


</body>
</html>
