{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block body_block %}
    <div class="container">
        <div class="jumbotron">

            <h1>Add New Function Here</h1>
            <p>As a developer, you can submit a new function to ChainFaaS by providing its docker registery public link. You can then go to <a href="/developers/user_services/">your fucntions page</a> to see the status of all your functions.</p>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <table>
                    {% bootstrap_form service_form %}
                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

    </div>

{% endblock %}
